table {
    width: auto;
    border-collapse: collapse;
    margin-top: 100px;
}

th, td {
    border: 1px solid hsl(0, 0%, 87%);
    padding: 8px 16px;
    text-align: left;
}

th {
    cursor: pointer;
}

.pagination {
    display: flex;
    list-style: none;
    /* padding: 0; */
    /* justify-content: center; */
    margin-top: 20px;
    margin-right: 00px;
}

.pagination li {
    border: 1px solid #ccc;
    padding: 8px 16px;

    margin: 0 5px;
    cursor: pointer;
}