body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .slider-container {
    position: relative;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  